body {
  margin: 0;
  padding: 0;
}

:root {
  --size: 5px;
}

#papa {
  width: 100vw;
  height: 100vh;
  background-color: gray;
  display: flex;
  flex-direction: row;
}

#area1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  flex: 1;
}

#area2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 3;
}

#grid {
  height: 800px;
  width: 800px; 
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: solid;
  border-color: rgb(150, 149, 149);
}

#box {
  background-color: white;
  height: var(--size);
  width: var(--size);
}

#button {
  margin-top: 10px;
  width: 70px;
  height: 25px;
  border: solid black;
  border-radius: 8px;
  background-color: rgb(147, 207, 207);
  cursor: pointer;
}

#input {
  height: 24px;
  margin-right: 5px;
  border: solid black;
  border-radius: 2px;
}

#pick {
  height: 50px;
  width: 50px;
  border-radius: 9px;
  margin-top: 10px;
}